@import "./variables";

@media (any-hover: hover) {
}

.banner {
  display: flex;
  p {
    color: $white;
  }
  > img {
    position:   absolute;
    top:        0;
    left:       0;
    height:     100%;
    z-index:    -1;
    object-fit: cover;
  }
  &-info {
    position:        absolute;
    right:           0;
    bottom:          0;
    z-index:         1;
    background:      rgba(0, 0, 0, 0.31);
    backdrop-filter: blur(40px);
    border-radius:   20px 0 0 0;
    max-width:       620px;
    width:           100%;
    padding:         2.8% 2% 2.14% 3%;
    .info-content {
      span {
        font-weight: 500;
      }
      > p {
        font-weight:   500;
        text-align:    center;
        margin-bottom: 1.625rem;
        span {
          font-size: 1.5rem;
        }
      }
      .info-list {
        display:         flex;
        justify-content: center;
        align-items:     center;
      }
      .info-item {
        margin-right: 7.1%;
        display:      flex;
        align-items:  center;
        &:last-child {
          margin-right: 0;
        }
        span {
          font-size: 2rem;
        }
        p {
          font-size:   1.125rem;
          font-weight: 700;
        }
        .item-image {
          padding:       .5rem;
          border-radius: 5px;
          background:    $white;
          margin-right:  1rem;
          width:         37%;
          max-width:     75px;
          display:       flex;
        }
      }
    }
  }
  .overlay {
    position: absolute;
    top:      0;
    left:     0;
    width:    100%;
    height:   100%;
  }
  &-inner {
    display: flex;
    height:  100%;
  }
}

@media screen and (max-width: 991.98px) {

}

@media screen and (max-width: 567px) {

}
