@import "variables";

@media (any-hover: hover) {
  .blog .blog-content .blog-content-item:hover {
    box-shadow: -3px 5px 5px 0 rgba(0, 0, 0, 0.16);
    opacity:    1;
  }
}

.blog {
  &-content {
    padding: 15.21% 0 3.6%;
    h1 {
      margin-bottom: 1.3%;
    }
    &-title {
      max-width:     660px;
      margin-bottom: 10.7%;
    }
    &-list {
      display:         flex;
      justify-content: space-between;
      align-items:     stretch;
      flex-wrap:       wrap;
    }
    &-item {
      box-shadow:    -5px 10px 10px 0 rgba(0, 0, 0, 0.16);
      border-radius: 10px;
      background:    $white;
      width:         28.2%;
      margin-bottom: 7.12%;
      cursor:        pointer;
      .item-image {
        img {
          border-radius: 10px 10px 0 0;
        }
      }
      .item-description {
        padding: 6.8% 8%;
        h5 {
          margin-bottom: 5.4%;
        }
      }
    }
  }
}

@media screen and (max-width: 991.98px) {

}

@media screen and (max-width: 567px) {

}