@import "./variables";


@media (any-hover: hover) {
  .header {

  }
}

.header {
  position:   fixed;
  top:        0;
  left:       0;
  z-index:    100;
  width:      100%;
  padding:    14px 0;
  background: $secondaryColor;
  color:      $white;
  &.transparent {
    background:      rgba(0, 0, 0, 0.31);
    backdrop-filter: blur(40px);
  }
  .container {
    max-width: 1775px;
  }
  .logo {
    max-width: 196px;
    width:     13%;
  }
  &-inner {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
  }
  &-menu {
    .menu-list {
      display: flex;
    }
    .menu-item {
      margin: 0 10px;
      color:  $white;
    }
  }
  .phones {
    display: flex;
    svg {
      margin-right: 10px;
    }
    &-list {
      display:        flex;
      flex-direction: column;
      a {
        color:         $white;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}


@media screen and (max-width: 991.98px) {
  .header {

  }
}

@media screen and (max-width: 567px) {
  .header {

  }
}