@import "./variables";


@media (any-hover: hover) {
  .header {

  }
}

.header {
  position:        fixed;
  top:             0;
  left:            0;
  z-index:         100;
  width:           100%;
  padding:         14px;
  background:      rgba(0, 0, 0, 0.31);
  backdrop-filter: blur(40px);
  color:           $white;
  &-inner {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
  }
  &-menu {
    .menu-list {
      display: flex;
    }
    .menu-item {
      margin: 0 10px;
      color:  $white;
    }
  }
}


@media screen and (max-width: 991.98px) {
  .header {

  }
}

@media screen and (max-width: 567px) {
  .header {

  }
}